[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
langchain-core = "*"
faiss-cpu = "*"
pdfplumber = "*"
huggingface-hub = "*"
pypdf = "*"
python-dotenv = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
groq = "*"
langchain-groq = "*"

[dev-packages]

[requires]
python_version = "3.11"
